/* screen - desktop */

.desktop {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1880px;
  overflow: hidden;
  width: 1024px;
}

.desktop .nav {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 54px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 242px;
}

.desktop .logo {
  height: 33px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 102px;
}

.desktop .menu {
  align-items: center;
  display: flex;
  height: 34px;
  margin-left: 243px;
  min-width: 184px;
  padding: 0 10px;
}

.desktop .text-4 {
  height: 14px;
  letter-spacing: -0.24px;
  min-width: 39px;
  text-align: center;
}

.desktop .text-5 {
  height: 14px;
  letter-spacing: -0.24px;
  margin-left: 72px;
  min-width: 53px;
  text-align: center;
}

.desktop .header {
  align-items: flex-start;
  display: flex;
  height: 196px;
  margin-top: 27px;
  min-width: 682px;
}

.desktop .header-contents {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 195px;
  width: 337px;
}

.desktop .header-content-1 {
  align-items: flex-start;
  display: flex;
  min-width: 159px;
}

.desktop .text-6 {
  height: 19px;
  letter-spacing: 0.40px;
  line-height: 18px;
  white-space: nowrap;
  width: 102px;
}

.desktop .overlap-group {
  align-items: center;
  background-color: var(--coral-red);
  border-radius: 10px;
  display: flex;
  height: 19px;
  justify-content: flex-end;
  margin-left: 10px;
  min-width: 47px;
}

.desktop .ellipse {
  background-color: var(--white);
  border-radius: 3.15px/3.17px;
  height: 6px;
  margin-top: 0;
  width: 6px;
}

.desktop .text-7 {
  height: 11px;
  letter-spacing: 2.00px;
  line-height: 18px;
  margin-left: 4px;
  white-space: nowrap;
  width: 31px;
}

.desktop .text-8 {
  height: 112px;
  letter-spacing: -0.72px;
  line-height: 56px;
  margin-top: 10px;
  width: 337px;
}

.desktop .span {
  letter-spacing: -0.25px;
}

.desktop .text-9 {
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 10px;
  min-height: 44px;
}

.desktop .honers {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-height: 196px;
  width: 347px;
}

.desktop .honer {
  align-items: center;
  display: flex;
  height: 98px;
  min-width: 347px;
  padding: 0 10px;
}

.desktop .styleshare {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  min-width: 78px;
  padding: 0 5px;
}

.desktop .logo-styleshare {
  height: 68px;
  object-fit: cover;
  width: 68px;
}

.desktop .daily {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 18px;
}

.desktop .image-1 {
  height: 54px;
  width: 42px;
}

.desktop .my-real-trip {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
}

.desktop .image-2 {
  height: 72px;
  object-fit: cover;
  width: 78px;
}

.desktop .idus {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 7.5px;
}

.desktop .image-3 {
  height: 35px;
  object-fit: cover;
  width: 63px;
}

.desktop .hogangnono {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  min-width: 78px;
  padding: 0 11.5px;
}

.desktop .image-4 {
  height: 46px;
  width: 55px;
}

.desktop .rael {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 11px;
}

.desktop .image-5 {
  height: 24px;
  object-fit: cover;
  width: 56px;
}

.desktop .soomgo {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 3.5px;
}

.desktop .image-6 {
  height: 23px;
  width: 71px;
}

.desktop .upstage {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 5px;
}

.desktop .image-7 {
  height: 15px;
  object-fit: cover;
  width: 68px;
}

.desktop .main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 47px;
  min-height: 1268px;
  width: 684px;
}

.desktop .team-under-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 272px;
  width: 683px;
}

.desktop .text01 {
  height: 38px;
  letter-spacing: 0;
  line-height: 18px;
  width: 683px;
}

.desktop .teams {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 214px;
  width: 683px;
}

.desktop .team-00 {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 10px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 58px;
  justify-content: flex-end;
  min-width: 683px;
  padding: 0 9px;
}

.desktop .text {
  height: 28px;
  letter-spacing: -0.40px;
  line-height: 18px;
  width: 181px;
}

.desktop .text-1 {
  height: 38px;
  letter-spacing: -0.04px;
  line-height: 18px;
  margin-left: 25px;
  width: 359px;
}

.desktop .text-2 {
  height: 38px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 20px;
  text-align: center;
  width: 74px;
}

.desktop .team {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 10px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 58px;
  justify-content: flex-end;
  margin-top: 20px;
  min-width: 683px;
  padding: 0 9px;
}

.desktop .team-under {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  min-height: 272px;
  width: 683px;
}

.desktop .text01-1 {
  height: 38px;
  letter-spacing: 0;
  line-height: 18px;
  width: 234px;
}

.desktop .footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  min-height: 217px;
  width: 684px;
}

.desktop .contnets {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 140px;
  padding: 10px 0;
  width: 684px;
}

.desktop .text-10 {
  height: 12px;
  letter-spacing: -0.20px;
  width: 674px;
}

.desktop .text-3 {
  height: 12px;
  letter-spacing: -0.20px;
  margin-top: 15px;
  width: 674px;
}

.desktop .scoll-top {
  align-items: flex-start;
  border-radius: 24.5px;
  display: flex;
  height: 49px;
  margin-right: 1.0px;
  margin-top: 28px;
  min-width: 49px;
  padding: 12.5px 15.0px;
}

.desktop .arrow {
  height: 22px;
  width: 16px;
}
/* screen - mobile */

.mobile {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2088px;
  width: 360px;
}

.mobile .nav-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 54px;
  justify-content: flex-end;
  min-width: 360px;
  padding: 10px 16px;
}

.mobile .logo-1 {
  align-self: flex-end;
  height: 33px;
  object-fit: cover;
  width: 102px;
}

.mobile .hamburger {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 91px;
  min-height: 14px;
  width: 22px;
}

.mobile .line-1 {
  height: 4px;
  width: 22px;
}

.mobile .line {
  height: 4px;
  margin-top: 3px;
  width: 22px;
}

.mobile .header-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5.0px;
  margin-top: 27px;
  min-height: 196px;
  width: 337px;
}

.mobile .header-contents-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 195px;
  width: 337px;
}

.mobile .header-content-1-1 {
  align-items: flex-start;
  display: flex;
  min-width: 159px;
}

.mobile .text-14 {
  height: 19px;
  letter-spacing: 0.40px;
  line-height: 18px;
  white-space: nowrap;
  width: 102px;
}

.mobile .overlap-group-1 {
  align-items: center;
  background-color: var(--coral-red);
  border-radius: 10px;
  display: flex;
  height: 19px;
  justify-content: flex-end;
  margin-left: 10px;
  min-width: 47px;
}

.mobile .ellipse-1 {
  background-color: var(--white);
  border-radius: 3.15px/3.17px;
  height: 6px;
  margin-top: 0;
  width: 6px;
}

.mobile .text-15 {
  height: 11px;
  letter-spacing: 2.00px;
  line-height: 18px;
  margin-left: 4px;
  white-space: nowrap;
  width: 31px;
}

.mobile .text-16 {
  height: 112px;
  letter-spacing: -0.72px;
  line-height: 56px;
  margin-top: 10px;
  width: 337px;
}

.mobile .span-2 {
  letter-spacing: -0.25px;
}

.mobile .text-17 {
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 10px;
  min-height: 44px;
}

.mobile .honers-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-height: 196px;
  width: 337px;
}

.mobile .honer-1 {
  align-items: center;
  display: flex;
  height: 98px;
  margin-left: -5px;
  min-width: 347px;
  padding: 0 10px;
}

.mobile .styleshare-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  min-width: 78px;
  padding: 0 5px;
}

.mobile .logo-styleshare-1 {
  height: 68px;
  object-fit: cover;
  width: 68px;
}

.mobile .daily-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 18px;
}

.mobile .image-1-1 {
  height: 54px;
  width: 42px;
}

.mobile .my-real-trip-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
}

.mobile .image-2-1 {
  height: 72px;
  object-fit: cover;
  width: 78px;
}

.mobile .idus-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 7.5px;
}

.mobile .image-3-1 {
  height: 35px;
  object-fit: cover;
  width: 63px;
}

.mobile .hogangnono-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  min-width: 78px;
  padding: 0 11.5px;
}

.mobile .image-4-1 {
  height: 46px;
  width: 55px;
}

.mobile .rael-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 11px;
}

.mobile .image-5-1 {
  height: 24px;
  object-fit: cover;
  width: 56px;
}

.mobile .soomgo-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 3.5px;
}

.mobile .image-6-1 {
  height: 23px;
  width: 71px;
}

.mobile .upstage-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 5px;
}

.mobile .image-7-1 {
  height: 15px;
  object-fit: cover;
  width: 68px;
}

.mobile .main-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 242px;
  min-height: 1268px;
  width: 328px;
}

.mobile .team-under-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 272px;
  width: 328px;
}

.mobile .text01-2 {
  height: 38px;
  letter-spacing: 0;
  line-height: 18px;
  width: 328px;
}

.mobile .team-00-1 {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 10px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 58px;
  justify-content: flex-end;
  margin-top: 20px;
  min-width: 328px;
  padding: 0 10px;
}

.mobile .text-11 {
  height: 28px;
  letter-spacing: -0.40px;
  line-height: 18px;
  width: 229px;
}

.mobile .text-12 {
  height: 38px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 25px;
  text-align: center;
  width: 49px;
}

.mobile .team-under-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  min-height: 272px;
  width: 328px;
}

.mobile .footer-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 59px;
  min-height: 217px;
  width: 328px;
}

.mobile .contnets-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 140px;
  padding: 10px 0;
  width: 328px;
}

.mobile .text-18 {
  height: 12px;
  letter-spacing: -0.20px;
  width: 318px;
}

.mobile .text-13 {
  height: 12px;
  letter-spacing: -0.20px;
  margin-top: 15px;
  width: 318px;
}

.mobile .scoll-top-1 {
  align-items: flex-start;
  border-radius: 24.5px;
  display: flex;
  height: 49px;
  margin-left: 1.0px;
  margin-top: 28px;
  margin-bottom: 28px;
  min-width: 49px;
  padding: 12.5px 15.0px;
}

.mobile .arrow-1 {
  height: 22px;
  width: 16px;
}
/* screen - tablet */

.tablet {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1880px;
  overflow: hidden;
  width: 834px;
}

.tablet .nav-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 54px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 337px;
}

.tablet .logo-2 {
  height: 33px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 102px;
}

.tablet .menu-1 {
  align-items: center;
  display: flex;
  height: 34px;
  margin-left: 148px;
  min-width: 184px;
  padding: 0 10px;
}

.tablet .text-23 {
  height: 14px;
  letter-spacing: -0.24px;
  min-width: 39px;
  text-align: center;
}

.tablet .text-24 {
  height: 14px;
  letter-spacing: -0.24px;
  margin-left: 72px;
  min-width: 53px;
  text-align: center;
}

.tablet .header-2 {
  align-items: flex-start;
  display: flex;
  height: 196px;
  margin-top: 27px;
  min-width: 682px;
}

.tablet .header-contents-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 195px;
  width: 337px;
}

.tablet .header-content-1-2 {
  align-items: flex-start;
  display: flex;
  min-width: 159px;
}

.tablet .text-25 {
  height: 19px;
  letter-spacing: 0.40px;
  line-height: 18px;
  white-space: nowrap;
  width: 102px;
}

.tablet .overlap-group-2 {
  align-items: center;
  background-color: var(--coral-red);
  border-radius: 10px;
  display: flex;
  height: 19px;
  justify-content: flex-end;
  margin-left: 10px;
  min-width: 47px;
}

.tablet .ellipse-2 {
  background-color: var(--white);
  border-radius: 3.15px/3.17px;
  height: 6px;
  margin-top: 0;
  width: 6px;
}

.tablet .text-26 {
  height: 11px;
  letter-spacing: 2.00px;
  line-height: 18px;
  margin-left: 4px;
  white-space: nowrap;
  width: 31px;
}

.tablet .text-27 {
  height: 112px;
  letter-spacing: -0.72px;
  line-height: 56px;
  margin-top: 10px;
  width: 337px;
}

.tablet .span-4 {
  letter-spacing: -0.25px;
}

.tablet .text-28 {
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 10px;
  min-height: 44px;
}

.tablet .honers-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-height: 196px;
  width: 347px;
}

.tablet .honer-2 {
  align-items: center;
  display: flex;
  height: 98px;
  min-width: 347px;
  padding: 0 10px;
}

.tablet .styleshare-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  min-width: 78px;
  padding: 0 5px;
}

.tablet .logo-styleshare-2 {
  height: 68px;
  object-fit: cover;
  width: 68px;
}

.tablet .daily-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 18px;
}

.tablet .image-1-2 {
  height: 54px;
  width: 42px;
}

.tablet .my-real-trip-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
}

.tablet .image-2-2 {
  height: 72px;
  object-fit: cover;
  width: 78px;
}

.tablet .idus-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 7.5px;
}

.tablet .image-3-2 {
  height: 35px;
  object-fit: cover;
  width: 63px;
}

.tablet .hogangnono-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  min-width: 78px;
  padding: 0 11.5px;
}

.tablet .image-4-2 {
  height: 46px;
  width: 55px;
}

.tablet .rael-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 11px;
}

.tablet .image-5-2 {
  height: 24px;
  object-fit: cover;
  width: 56px;
}

.tablet .soomgo-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 3.5px;
}

.tablet .image-6-2 {
  height: 23px;
  width: 71px;
}

.tablet .upstage-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 78px;
  margin-left: 5px;
  min-width: 78px;
  padding: 0 5px;
}

.tablet .image-7-2 {
  height: 15px;
  object-fit: cover;
  width: 68px;
}

.tablet .main-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 47px;
  min-height: 1268px;
  width: 684px;
}

.tablet .team-under-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 272px;
  width: 683px;
}

.tablet .text01-3 {
  height: 38px;
  letter-spacing: 0;
  line-height: 18px;
  width: 683px;
}

.tablet .teams-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 214px;
  width: 683px;
}

.tablet .team-00-2 {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 10px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 58px;
  justify-content: flex-end;
  min-width: 683px;
  padding: 0 9px;
}

.tablet .text-19 {
  height: 28px;
  letter-spacing: -0.40px;
  line-height: 18px;
  width: 181px;
}

.tablet .text-20 {
  height: 38px;
  letter-spacing: -0.04px;
  line-height: 18px;
  margin-left: 25px;
  width: 359px;
}

.tablet .text-21 {
  height: 38px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 20px;
  text-align: center;
  width: 74px;
}

.tablet .team-1 {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 10px;
  box-shadow: 0px 10px 10px #0000000d;
  display: flex;
  height: 58px;
  justify-content: flex-end;
  margin-top: 20px;
  min-width: 683px;
  padding: 0 9px;
}

.tablet .team-under-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  min-height: 272px;
  width: 683px;
}

.tablet .text01-4 {
  height: 38px;
  letter-spacing: 0;
  line-height: 18px;
  width: 224px;
}

.tablet .text01-5 {
  height: 38px;
  letter-spacing: 0;
  line-height: 18px;
  width: 241px;
}

.tablet .footer-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 23.0px;
  margin-top: 50px;
  min-height: 217px;
  width: 675px;
}

.tablet .contnets-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 140px;
  padding: 10px 0;
  width: 675px;
}

.tablet .text-29 {
  height: 12px;
  letter-spacing: -0.20px;
  width: 665px;
}

.tablet .text-22 {
  height: 12px;
  letter-spacing: -0.20px;
  margin-top: 15px;
  width: 665px;
}

.tablet .scoll-top-2 {
  align-items: flex-start;
  border-radius: 24.5px;
  display: flex;
  height: 49px;
  margin-left: 22.0px;
  margin-top: 28px;
  min-width: 49px;
  padding: 12.5px 15.0px;
}

.tablet .arrow-2 {
  height: 22px;
  width: 16px;
}

@media screen and (max-width: 833px) {
  .screen.desktop {
    display: none;
   }
  .screen.tablet {
    display: none;
   }
}
@media screen and (min-width: 834px) and (max-width: 1023px) {
  .screen.desktop {
    display: none;
   }
  .screen.mobile {
    display: none;
   }
}
@media screen and (min-width: 1024px) {
  .screen.mobile {
    display: none;
   }
  .screen.tablet {
    display: none;
   }
}